*.idea
/crawler_test/urls.txt
/crawler_test/date.txt
/udacity_test/machine_learn/pca/data/lfw_home/joblib
/udacity_test/machine_learn/pca/data/lfw_home/lfw_funneled
/udacity_test/machine_learn/MLND_CN_P4_Dog_Project-master/dogImages
/udacity_test/machine_learn/MLND_CN_P4_Dog_Project-master/lfw
/udacity_test/machine_learn/MLND_CN_Graduate/annotations
/udacity_test/machine_learn/MLND_CN_Graduate/dogs-vs-cats-redux-kernels-edition
/udacity_test/machine_learn/MLND_CN_Graduate/images
/udacity_test/machine_learn/MLND_CN_Graduate/dogs-vs-cats
/udacity_test/machine_learn/MLND_CN_Graduate/*.h5
/udacity_test/machine_learn/MLND_CN_Graduate/*.csv
/udacity_test/machine_learn/MLND_CN_Graduate/*.hdf5
/udacity_test/machine_learn/MLND_CN_Graduate/*.npz
/udacity_test/machine_learn/dogs-vs-cats-redux-master/dogs-vs-cats
/udacity_test/machine_learn/dogs-vs-cats-redux-master/submissions
